.about-section {
    padding: 80px 0;
}
.about-section__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-section__text {
    color: #1e212c;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    max-width: 630px;
    margin: 0 20px 0 0;
}
.about-section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.about-section__item {
    display: grid;
    grid-template-columns: 75px 140px;
    align-items: center;
    gap: 16px;
}
.about-section__item-text {
    font-weight: 400;
    font-size: 14px;
    color: #787a80;
    line-height: 150%;
}