.pricing {
    position: relative;
    padding: 80px 0;
    z-index: 1;
}
.pricing::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    width: 500px;
    height: 800px;
    background-image: url(../../../public/img/benefits-line-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.pricing__title {
    text-align: center;
    margin: 0 0 60px 0;
}
.pricing__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}
.pricing__list {
    display: flex;
    gap: 30px;
}
.pricing__tabs__content {
    max-width: 100%;
}
.pricing__tabs__nav {
    margin: 0 0 60px 0;
    border: 1px solid #7772f1;
    border-radius: 100px;
    overflow: hidden;
}
.pricing__tabs__nav-btn {
    border-radius: 100px;
    background-color: transparent;
    padding: 10px;
    width: calc(210px - 60px);
    font-size: 16px;
    font-weight: 700;
    color: #7772f1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;    
    transition: color .3s ease-in-out, background-color .3s ease-in-out, width .3s ease-in-out, border-radius .3ease-in-out;
}
.pricing__tabs__nav-btn_small {
    padding: 0;
    font-size: 12px;
    font-weight: 400;  
}
.pricing__tabs__nav-btn.active {
    background-color: #7772f1;;
    color: #fff;
    width: 210px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;  
}
.pricing__tabs__nav-btn.active .pricing__tabs__nav-btn_small  {
    color: #fff;
}
.pricing__tabs__content {
    max-width: 100%; 
}
.pricing__tabs__item {
    padding: 0;
    background-color: transparent; 
}
.pricing__tabs__list {
    display: flex;
    gap: 30px;
}





.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 2px solid #c5c3c3;
    border-radius: 4px;
    padding: 40px 0;
    animation: animCardBottom .6s ease-in-out;
}
.pricing-card:nth-child(2) {
    border-color: #03cea4;
    background-color: #1e212c;
    box-shadow: 0 0 30px 0 #1e212c;
    animation: animCardTop .6s ease-in-out;
}
.pricing-card:nth-child(2) .pricing-card__title {
    color: #fff;
}
.pricing-card:nth-child(2) .pricing-card__price,
.pricing-card:nth-child(2) .pricing-card__price-small {
    color: #03cea4;
 }
 
 .pricing-card:nth-child(2) .pricing-card__item {
    background-image: url(../../../public/img/prising-check-green.svg);
    color: #fff;
 }




 @keyframes animCardTop{
 from {
    opacity: 0;
    transform: translateY(40px);
 }

 to {
    opacity: 1;
    transform: translateY(0);
 }
}


@keyframes animCardBottom {
    from {
       opacity: 0;
       transform: translateY(-40px);
    }

    to {
       opacity: 1;
       transform: translateY(0);
    }
}

.pricing-card__title {
    margin: 0 0 8px 0;
 }
.pricing-card__price{
    display: flex;
    font-size: 46px;
    font-weight: 900;
    color: #7772f1;
    margin: 0 0 16px 0;
 }
.pricing-card__price-small {
    color: #7772f1;
    margin: 0 0 0 4px; 
}
.pricing-card__list {
    display: grid;
    gap: 8px;
    margin: 24px 0 32px 0;
 }
 .pricing-card__item {
    background-image: url(../../../public/img/pricing-check-violent.svg);
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-size: 14px 10px;
    padding: 0 0 0 28px;
 }



