/* .modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 20;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.modal__wrapper {
    padding: 20px;
    background-color: black;
    top: 50%;
    left: 50%;
    max-width: 600px;
    text-align: center;
    align-items: center;
} */

* {
    box-sizing: border-box;
}

.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}
.fixed-overlay__modal {
    text-align: center;
    white-space: nowrap;
    z-index: 200;
}
.fixed-overlay__modal::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}
.modal {
    display: inline-block;
    vertical-align: middle;

}
.modal__container {
    padding: 20px;
    text-align: left;
    white-space: normal;  
    color: white;
    background-color: black;
    max-width: 800px;
    text-align: center;
    align-items: center;
    z-index: 100 !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.modal__button {
    margin-left: auto;
    cursor: pointer;
    color: white;
}